body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
li{
  list-style: none;
}
#loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#loading-heading{
  color: white;
  font-size: 42px;
}

#nav-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#nav{
  display: flex;
  height: 100%;
  width: 90%;
  max-width: 500px;
  align-items: center;
  justify-content: space-between;
}
#nav li{
  font-size: 17px;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  color: rgb(191, 191, 191);
}
#nav li:hover{
  color: white;
  cursor: pointer;
}

#loading-bar {
  width: 500px;
  margin-top: 20px;
  height: 10px;
  border-radius: 4px;
  background: black;
  padding: 0;
}
#progress-bar{
  width: 0%;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  height: 10px;
  background: white;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.heading {
  color: rgb(215, 215, 215);
  background: rgba(0, 209, 236, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgb(0, 0, 0);
  font-size: 23px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(154, 154, 154, 0.474);
  width: 180px;
  height: 50px;
  text-shadow: 0px 0px 8px rgb(0, 225, 255);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.heading:hover {
  cursor: pointer;
}
.active {
  background: rgba(0, 208, 236, 0.3);
  box-shadow: 0px 0px 15px rgba(186, 186, 186, 0.574);
  transform: scale(1.05);
  color: rgb(255, 255, 255);
  border-left: 3px solid rgb(118, 230, 224);
}
.moonGroup {
  display: none;
  width: 80vw;
  justify-content: space-evenly;
  margin-top: 30px;
}
.moons {
  color: rgb(214, 214, 214);
  background: rgba(0, 149, 236, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgb(0, 0, 0);
  font-size: 19px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(142, 142, 142, 0.474);
  width: 160px;
  height: 40px;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.moons:hover {
  cursor: pointer;
}
.moon-active {
  background: rgba(0, 149, 236, 0.29);
  box-shadow: 0px 0px 15px rgba(186, 186, 186, 0.574);
  transform: scale(1.05);
  color: rgb(255, 255, 255);
  border-left: 2px solid rgb(147, 177, 222);
}
.container {
  left: 20px;
  top: 50px;
  height: 90vh;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.containerTwo {
  left: 230px;
  top: 50px;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.info {
  color: rgb(223, 223, 223);
  padding: 25px 30px;
  position: absolute;
  max-width: 400px;
  z-index: 3;
  right: 100px;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.15);
}
.info h1{
  font-size: 36px;
  letter-spacing: 3px;
}
.info p {
  font-size: 20px;
  line-height: 29px;
}
